﻿@model EssPortal.Models.HtmlFieldIndexer
@{ var index = Model.Index; }

<div style="border:1px solid #ddd; padding-top:10px" class="container-fluid employment-row">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label">Institution/Company Name</label>
                <input type="text" value="" name="EmploymentHistory[@index].CompanyName" id="" class="form-control employment-companyname text-box single-line">
                <span data-valmsg-replace="true" data-valmsg-for="EmploymentHistory[@index].CompanyName" class="field-validation-valid text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label">Job Title</label>
                <input type="text" value="" name="EmploymentHistory[@index].JobTitle" id="" class="form-control employment-jobtitle text-box single-line">
                <span data-valmsg-replace="true" data-valmsg-for="EmploymentHistory[@index].JobTitle" class="field-validation-valid text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="" class="control-label">From Date</label>
                <input type="date" value="" name="EmploymentHistory[@index].FromDate" id="" data-val-required="The From Date field is required." data-val="true" class="form-control date-input employment-fromdate text-box single-line">
                <span data-valmsg-replace="true" data-valmsg-for="EmploymentHistory[@index].FromDate" class="field-validation-valid text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="" class="control-label">To Date</label>
                <input type="date" value="" name="EmploymentHistory[@index].ToDate" id="" data-val-required="The To Date field is required." data-val="true" class="form-control date-input employment-todate text-box single-line">
                <span data-valmsg-replace="true" data-valmsg-for="EmploymentHistory[@index].ToDate" class="field-validation-valid text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="" class="control-label">Department</label>
                <input type="text" value="" name="EmploymentHistory[@index].Department" id="" class="form-control employment-department text-box single-line">
                <span data-valmsg-replace="true" data-valmsg-for="EmploymentHistory[@index].Department" class="field-validation-valid text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="" class="control-label">Comment</label>
                <input type="text" value="" name="EmploymentHistory[@index].Comment" id="" class="form-control employment-comment text-box single-line">
                <span data-valmsg-replace="true" data-valmsg-for="EmploymentHistory[@index].Comment" class="field-validation-valid text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <a class="remEmployment btn btn-default" href="javascript:void(0);">Remove</a>
            </div>
        </div>
    </div>
</div>