﻿@model EssPortal.Models.RecruitmentIndexViewModel
@{
    ViewBag.Title = "Vacancies";
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Vacancies
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Vacancy ID</th>
                                <th>Position</th>
                                <th>Application Deadline</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vacancy in Model.Vacancies)
                            {
                                <tr>
                                    <td>@vacancy.Requisition_No</td>
                                    <td>@vacancy.Job_description</td>
                                    <td>@vacancy.Application_deadline.ToString("dd-MM-yyyy")</td>
                                    <td><a href="@Url.Action("JobRequirement", "Recruitment", new {JobId=vacancy.Job_ID })">View Requirements </a> | <a href="@Url.Action("Apply2", "Recruitment", new {AppRef=vacancy.Key, Position=vacancy.Job_description })"> Apply </a></td>
                                </tr>
                            }
                            @if (Model.Vacancies.Count == 0)
                            {
                                <tr>
                                    <td colspan="4">There are currently no open positions.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    My Applications (Vacancies you have applied for)
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Vacancy ID</th>
                                    <th>Position</th>
                                    <th>Date Applied On</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.JobsAppliedTo == null || Model.JobsAppliedTo.Count == 0)
                                {
                                    <tr>
                                        <td colspan="4">You have not applied to any Vacancy.</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var vacancy in Model.JobsAppliedTo)
                                    {
                                        <tr>
                                            <td>@vacancy.JobNo</td>
                                            <td>@vacancy.PositionAppliedForCode</td>
                                            <td>@vacancy.DateApplied.ToString("dd-MM-yyyy")</td>
                                            @*<td><a href="#">View Requirements </a> | <a href="@Url.Action("Apply2", "Recruitment", new {Id=vacancy.Requisition_No })"> Apply </a></td>*@
                                            <td>@*<a href="@Url.Action("Index", "Recruitment", new {Id=vacancy.JobApplicationNo })"> Veiw Summary </a>*@</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }    
</div>

