﻿@model EssPortal.Models.JobRequirementViewModel
@{
    ViewBag.Title = "Job Requirements - " + Model.SelectedVacancy.Job_description;
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Job Requirements - @Model.SelectedVacancy.Job_description
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            @foreach (var requirement in Model.JobRequirement)
                            {
                                <tr>
                                    <td colspan="2"><h4>@requirement.Key</h4></td>
                                </tr>

                                foreach (var item in requirement)
                                {
                                    <tr>
                                        <td>
                                            @item.Qualification_Description
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                    </tr>
                                }
                            }
                           
                            <tr>
                                <td colspan="2">
                                    <a href="@Url.Action("Apply2", "Recruitment", new {AppRef=Model.SelectedVacancy.Key, Position=Model.SelectedVacancy.Job_description })" class="btn btn-default btn-lg"> Apply </a>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Vacancies
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            @foreach (var vacancy in Model.Vacancies)
                            {
                                <tr>
                                    <td><a href="@Url.Action("JobRequirement", "Recruitment", new {JobId=vacancy.Job_ID })"> @vacancy.Requisition_No - @vacancy.Job_description </a> </td>
                                </tr>
                            }
                            @if (Model.Vacancies.Count == 0)
                            {
                                <tr>
                                    <td colspan="4">There are currently no open positions.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
