﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div>
    <p>
        A password reset instruction has been sent to your mail. <br />
        Please check your email to reset your password.
    </p>
</div>

