﻿@model EssPortal.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Resend EMail Confirmation Link";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-6">
                <label class="control-label">E Mail used to register.</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Resend Confirmation Mail" class="btn btn-default" />
            </div>
        </div>
    </div>
}