﻿@model EssPortal.Models.ApplicantBioData
    @using EssPortal.Classes

@{
    ViewBag.Title = "Edit Profile - " + Model.FirstName + " " + Model.MiddleName + " " + Model.LastName;
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
    var isEmployee = Model.IsEmployee;
    var style = isEmployee ? "display:none" : "";
}

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default">
                <div class="panel-heading">
                    Personal Information
                    <a data-toggle="collapse" href="#BiodataPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                </div>
                <div class="panel-body panel-collapse" id="BiodataPanel">
                    @*<div class="row">
                        <div class="col-md-12">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserTitle, htmlAttributes: new { @class = "control-label" })
                                @if (isEmployee)
                                {
                                    @Html.EditorFor(model => model.UserTitle, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.UserTitle, Model.TitleSelectListItems, new { @class = "form-control" })
                                }

                                @Html.ValidationMessageFor(model => model.UserTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                                @if (isEmployee)
                                {
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                }

                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
                                @if (isEmployee)
                                {
                                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                }

                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                @if (isEmployee)
                                {
                                    @Html.HiddenFor(model => model.AskingBasicPay)
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                }

                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                  
                    <div style="@style">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdNo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.IdNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IdNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Citizenship, htmlAttributes: new { @class = "control-label" })
                                    @if (isEmployee)
                                    {
                                        @Html.EditorFor(model => model.Citizenship, new { @class = "form-control" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.Citizenship, Model.CountriesSelectListItems, new { @class = "form-control" })
                                    }
                                    
                                    @Html.ValidationMessageFor(model => model.Citizenship, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Gender, Model.GenderSelectListItems, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.MaritalStatus, Model.MaritalStatusSelectListItems, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    @if (!isEmployee)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AskingBasicPay, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.AskingBasicPay, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AskingBasicPay, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control date-input", id = "DateOfBirth" } })
                                    @*<input type="text" value="@Model.DateOfBirth" class="form-control date-input" id="DateOfBirth" />*@
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }

                    @Html.HiddenFor(m => m.JobApplicationNo)
                    @Html.HiddenFor(m => m.EmployeeNo)
                    @Html.HiddenFor(m => m.Email)

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Contact Information
                    <a data-toggle="collapse" href="#CIPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                </div>
                <div class="panel-body panel-collapse" id="CIPanel">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CellPhoneNo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CellPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CellPhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.HomePhoneNumber, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.HomePhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Home Phone" } })
                                @Html.ValidationMessageFor(model => model.HomePhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @if (Model.IsEmployee)
                                {
                                    <label class="control-label" for="PrivateMailUpdate">Private E-Mail</label>
                                    @Html.EditorFor(model => model.PrivateMailUpdate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrivateMailUpdate, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    <label class="control-label" for="PrivateMailUpdate">E-Mail</label>
                                    @Html.EditorFor(model => model.PrivateMailUpdate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.PrivateMailUpdate, "", new { @class = "text-danger" })
                                }                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PostalAddress, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.PostalAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PostalAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ResidentialAddressStreet, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ResidentialAddressStreet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ResidentialAddressStreet, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ResidentialAddressDistrict, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ResidentialAddressDistrict, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ResidentialAddressDistrict, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ResidentialAddressCity, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ResidentialAddressCity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ResidentialAddressCity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Country, Model.CountriesSelectListItems, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save Changes" class="btn btn-default" />
                    @Html.ActionLink("Discard Changes", "EditUserProfile", null, new { @class = "btn btn-default" })
                </div>
            </div>
            <br /><br /><br />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('body').on('focus', ".date-input", function () {
            var todaysDate = Date();
            $(this).datepicker({
                format: "dd/mm/yyyy",
                endDate: todaysDate,
                autoclose: true
            });
        });
    </script>

}
