﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h2 class="margin">WELCOME TO ACCESS BANK PORTAL</h2>
    <div>
        @Html.Partial("_IndexLoginPartial")
        <a href="@Url.Action("Index","Recruitment")" class="btn btn-default btn-lg">VIEW VACANCIES</a>
    </div>
</div>
