﻿<!DOCTYPE html>

<html>
<head>
    <title>ESS - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style type="text/css">
        .container-fluid {
            padding:0;
        }
        body {
            padding: 0;
            margin: 0;
        }

        .one-px-border {
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" alt="Alternate Text" /></a>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-top:20px; padding-right:20px;"><a href="#">@DateTime.Now.ToLongDateString()</a></li>
                    @*<li>@Html.Partial("_LoginPartial")</li>*@
                </ul>
            </div>
        </div>
    </nav>

        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-2" style="background-color:aqua; height:100%">
                    <p>text</p>
                </div>
                <div class="col-md-10" style="background-color: white; height:100%">
                    @RenderBody()
                </div>
            </div>
        </div>

    <footer class="container-fluid text-center">
        <p>&copy; @DateTime.Now.Year - AccessBank Liberia </p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
