﻿@model EssPortal.EmployeeRef.Employee
@{ 
    var totalLeaveDays = Model.Total_Leave_Days;
    var leaveBalance = Model.Leave_Balance;
}
<div class="panel panel-default">
    <div class="panel-heading">
        Leave Balance
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item">
                Total Leave days:
                <span class="pull-right text-muted small">
                    <em>@Model.Total_Leave_Days days</em> <!--TODO UPDATE ALL FIELDS-->
                </span>
            </a>
            <a href="#" class="list-group-item">
                Leave days Taken:
                <span class="pull-right text-muted small">
                    <em>@Model.Total_Leave_Taken days</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                Leave Balance:
                <span class="pull-right text-muted small">
                    <em>@Model.Leave_Balance days</em>
                </span>
            </a>
        </div>
    </div>
    <!-- /.panel-body -->
</div>

