﻿@model List<EssPortal.LeaveRef.Leave>

<div class="panel panel-default">
    <div class="panel-heading">
        Pending Leave Approvals (@Model.Count)
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("SupervisorEdit", "Leave", new { ApplicationCode=item.Application_Code })" class="list-group-item">
                    @item.Application_Code -- @item.Names
                </a>
            }
        </div>
    </div>
</div>



