﻿@model EssPortal.Models.LeaveApplicationViewModel

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ApplicationNo)
    @Html.HiddenFor(model => model.ValidLeaveDateFrom)
    @Html.HiddenFor(model => model.leaveMonths)
    @Html.HiddenFor(model => model.IsSupervisor)
    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeNo, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.EmployeeNo, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
            @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
            </div>
        </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SupervisorName, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SupervisorEmail, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.SupervisorEmail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.SupervisorEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LeaveType, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.LeaveType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.LeaveType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToIncludeHalfDay, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @if (Model.IsSupervisor)
            {
                @Html.EditorFor(model => model.ToIncludeHalfDay, new { htmlAttributes = new { @class = "form-control days-diff", style = "height: 20px; width: 20px;", @readonly = "readonly" } })
            }
            else
            {
                @Html.EditorFor(model => model.ToIncludeHalfDay, new { htmlAttributes = new { @class = "form-control days-diff", style = "height: 20px; width: 20px;" } })
            }
           
            @Html.ValidationMessageFor(model => model.ToIncludeHalfDay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LeaveStartDate, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @if (Model.IsSupervisor)
            {
                @Html.EditorFor(model => model.LeaveStartDate, new { htmlAttributes = new { @class = "form-control days-diff", @readonly = "readonly" } })
            }
            else
            {
                @Html.EditorFor(model => model.LeaveStartDate, new { htmlAttributes = new { @class = "form-control date-input days-diff" } })
            }
            @Html.ValidationMessageFor(model => model.LeaveStartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LeaveEndDate, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @if (Model.IsSupervisor)
            {
                @Html.EditorFor(model => model.LeaveEndDate, new { htmlAttributes = new { @class = "form-control days-diff", @readonly = "readonly" } })
            }
            else
            {
                @Html.EditorFor(model => model.LeaveEndDate, new { htmlAttributes = new { @class = "form-control date-input days-diff" } })
            }
            @Html.ValidationMessageFor(model => model.LeaveEndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LeaveDaysAppliedFor, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.LeaveDaysAppliedFor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.LeaveDaysAppliedFor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LeaveDaysApproved, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @if (Model.IsSupervisor)
            {
                @Html.EditorFor(model => model.LeaveDaysApproved, new { htmlAttributes = new { @class = "form-control" } })
            }
            else
            {
                @Html.EditorFor(model => model.LeaveDaysApproved, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            }

            @Html.ValidationMessageFor(model => model.LeaveDaysApproved, "", new { @class = "text-danger" })
        </div>
    </div>

        @if (Model.IsSupervisor)
        { 
            <div class="form-group">
                @Html.LabelFor(model => model.StartDateOfApprovedLeave, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.StartDateOfApprovedLeave, new { htmlAttributes = new { @class = "form-control date-input days-diff", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.StartDateOfApprovedLeave, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDateOfApprovedLeave, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EndDateOfApprovedLeave, new { htmlAttributes = new { @class = "form-control date-input days-diff", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.EndDateOfApprovedLeave, "", new { @class = "text-danger" })
                </div>
            </div>
        }

    <div class="form-group">
        @Html.LabelFor(model => model.TotalAnnualLeaveDays, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.TotalAnnualLeaveDays, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TotalAnnualLeaveDays, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalAnnualLeaveTaken, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.TotalAnnualLeaveTaken, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TotalAnnualLeaveTaken, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalAnnualLeaveBalance, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.TotalAnnualLeaveBalance, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TotalAnnualLeaveBalance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RelieverCode, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            <p id="loading-reliever" style="color:red">Loading relievers please wait ...... </p>
            @Html.DropDownListFor(model => model.RelieverCode, Model.Employees, new { @class = "form-control select-drop-down" })
            @Html.ValidationMessageFor(model => model.RelieverCode, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.RelieverName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.RelieverName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.RelieverName, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.LeaveApplicationStatus, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.LeaveApplicationStatus, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.LeaveApplicationStatus, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.RejectionReason, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @if (Model.IsSupervisor)
            {
                @Html.EditorFor(model => model.RejectionReason, new { htmlAttributes = new { @class = "form-control" } })
            }
            else
            {
                @Html.EditorFor(model => model.RejectionReason, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            }
            @Html.ValidationMessageFor(model => model.RejectionReason, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-12">
        @Html.HiddenFor(model => model.SubmitLeave, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(m => m.ApplicationDate)
    </div>
</div>