﻿@model EssPortal.Models.LeaveApplicationViewModel

@{
    ViewBag.Title = "Edit Leave Request - " + Model.ApplicationNo;
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
}


@using (Html.BeginForm("Edit", "Leave", null, FormMethod.Post, new { id= "LeaveApplicationForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-9">
            @Html.HiddenFor(m => m.StartDateOfApprovedLeave)
            @Html.HiddenFor(m => m.EndDateOfApprovedLeave)
            @Html.EditorFor(x => x)
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Send for Approval" class="btn btn-default" id="SendForApproval" />
                        <input type="submit" value="Save" class="btn btn-default" id="SaveForEditing" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            @Html.Partial("_LeaveBalance", Model.EmployeeDataResponse.Employee)
            @if (Model.UserIsSupervisor)
            {
                @Html.Partial("_PendingLeaveApprovePanel", Model.LeavePendingApproval.Leave)
            }
        </div>
    </div>
}

@section Styles {
    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @{Html.RenderPartial("_LeaveScripts");}
    
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        var LeaveReliever = '@Model.RelieverCode';
    </script>
}
