﻿@model EssPortal.Models.LeaveIndexViewModel
@{
    ViewBag.Title = "Approved Leave History";
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
    var employee = Model.EmployeeDataResponse.Employee;
}

<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Leave applications approved by me
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover ">
                        <thead style="background-color:#f5f5f5">
                            <tr>
                                <th>Leave No</th>
                                <th>Employee No</th>
                                <th>Employee Name</th>
                                <th>Application Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>No. of Days Applied</th>
                                <th>No. of Days Approved</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LeaveResponse.Leave)
                            {
                                <tr>
                                    <td>@item.Application_Code</td>
                                    <td>@item.Employee_No</td>
                                    <td>@item.Names</td>
                                    <td>@item.Application_Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Leave_Start_Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Leave_End_Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.No_of_Leave_Days_Applied_for</td>
                                    <td>@item.No_of_Leave_Days_Approved</td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        @Html.Partial("_LeaveBalance", employee)

        @if (Model.UserIsSupervisor)
        {
            @Html.Partial("_PendingLeaveApprovePanel", Model.LeavePendingApproval.Leave)
        }
    </div>
</div>
