﻿@model EssPortal.Models.LeaveApplicationViewModel

@{
    ViewBag.Title = "Leave Response Supervisor - " + Model.ApplicationNo;
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
}


@using (Html.BeginForm("SupervisorEdit", "Leave", null, FormMethod.Post, new { id= "LeaveApplicationForm" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-9">
            @Html.EditorFor(x => x)

            @Html.HiddenFor(model => model.Approved, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Approve" class="btn btn-default" id="ApproveLeave" />
                        <input type="submit" value="Reject" class="btn btn-default" id="RejectLeave" />
                        <a href="@Url.Action("Index","Manage")" class="btn btn-default"> Review Later </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Employee @Model.EmployeeNo - Leave Balance
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            Total Leave days:
                            <span class="pull-right text-muted small">
                                <em>@Model.TotalAnnualLeaveDays days</em> <!--TODO UPDATE ALL FIELDS-->
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            Leave days Taken:
                            <span class="pull-right text-muted small">
                                <em>@Model.TotalAnnualLeaveTaken days</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            Leave Balance:
                            <span class="pull-right text-muted small">
                                <em>@Model.TotalAnnualLeaveBalance days</em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            @Html.Partial("_PendingLeaveApprovePanel", Model.LeavePendingApproval.Leave)
        </div>
    </div>
}

@section Styles {
    <link href="@Url.Content("~/Content/css/select2.min.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @{Html.RenderPartial("_LeaveScripts");}
    <script src="~/Scripts/select2.min.js" type="text/javascript"></script>

    <script type="text/javascript">
            var LeaveReliever = '@Model.RelieverCode';
    </script>
}
